body {
  display: grid;
  grid-template-areas: "headbar headbar"
    "topbar topbar"
    "welcomebar sidebar"
    "calendarbar calendarbar"
    "rdvbar rdvbar"
    "prelevementsbar prelevementsbar"
    "covidbar covidbar"
    "contactbar contactbar"
    "footerbar footerbar";
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;

}

h1 {
  margin: 50px auto 0 auto;
  font-size: 5rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: normal;
}

ul {
  list-style-type: none;
}

#welcome-container {
  grid-area: welcomebar;
  margin-right: -15rem;
  margin-bottom: 15rem;
}

.welcome-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* padding-right: 10rem; */
}

.doctor-img {
  width: 10rem;
  margin-right: 2rem;
}

#calendar-container {
  grid-area: calendarbar;
  margin-top: -15rem;
}

#rdv-container {
  grid-area: rdvbar;
}

#prelevements-container {
  grid-area: prelevementsbar;
  margin-bottom: -3rem;
}

#covid-container {
  grid-area: covidbar;
}

#contact-container {
  grid-area: contactbar;
}

#footer-container {
  background-color: #243d5b;
  text-align: center;
  grid-area: footerbar;
  padding-top: 2rem;
  padding-bottom: 1rem;
}


.header a,
#footer-container a {
  color: #FEFBF3;
  text-decoration: none;
}

.header a:hover,
#footer-container a:hover {
  color: white;
  text-decoration-line: underline;
}

.navbar {
  padding: 0 8% 0 7%;
}

.navbar,
.navbar-brand,
.navbar-nav {
  color: #243d5b;
  background-color: white;
  font-size: 1.3rem;
}


.nav-item {
  padding-left: 1.5rem;
}

.nav-link {
  color: #243d5b;
  transition: transform 0.1s ease;
}

.nav-link:hover {
  transform: translateY(-1px);
  color: #657d9b
}

.navbar-brand {
  font-size: 2.2rem;
  transition: transform 0.1s ease;
}

.navbar-brand:hover {
  color: #657d9b;
}

.copyright {
  color: white;
  font-size: 0.7rem;
}

.header-container {
  grid-area: headbar;
}

.top-container {
  position: relative;
  color: rgb(70, 70, 70);
  font-size: 1.5rem;
  grid-area: topbar;
}

.top-container h2 {
  color: rgb(70, 70, 70);
  font-weight: 700;
  font-size: 3.1rem;
}

.stethoscope {
  width: 100%;
}

.stethoscope-text {
  position: absolute;
  top: 12rem;
  left: 8rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: top;
  height: auto;
  background-color: #243d5b;
  color: white;
  line-height: 1.5;
  padding: 1px 7%;
  height: 1.7rem;
}

.covid-msg {
  background-color: #458CE7;
  color: white;
  padding: 0 1rem;
  padding-top: 1rem;
  border: solid 3px black;
}

.covid-msg p {
  line-height: 1.5;
}

.covid-msg a {
  color: white;
}

.red-msg {
  color: rgb(217, 69, 69);
}

.vaccineoptions {
  margin-left: 3rem;
}

.container-crop {
  padding: 3rem 8rem;
}

.container-wide {
  padding: 3rem 8rem;
  background-color: rgb(218, 240, 255);
}

.container-txt {
  width: 84%;
}

.contact-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 38rem;
  background-color: white;
  border: solid 1px black;
}

.contact-card iframe {
  border-left: solid 1px black;
}

.contact-card-txt {
  padding-left: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.email {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 19rem;
}

.sidebar {
  grid-area: sidebar;
  position: sticky;
  top: 30%;
  right: 1rem;
  align-self: start;
  background-color: #243d5b;
  color: white;
  width: 14rem;
  z-index: 100;
  border-radius: 0.8rem;
  padding-top: 2.8rem;
  margin-top: 1.3rem;
  box-shadow: 13px 13px 1px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-weight: bold;
  opacity: 95%;
}

.nav-link-side {
  color: white;
  text-decoration: none;
  font-size: larger;
}

.nav-link-side:hover {
  color: rgb(217, 216, 247);
}

.sidebar>ul {
  padding-left: 0;
}

.sidebar>ul>li {
  padding-bottom: 2rem;
}